<%- await include('./components/head.ejs', {title: "Home"}) %>

<div class="d-flex flex-column min-vh-100">
    <%- await include('./components/header.ejs') %>

    <main class="container flex-grow-1">
        <h1>Home</h1>
        <% for( let i = 0; i < products.length; i++ ) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title
                        <% if( products[i].stock === 0 ) { %>
                            text-danger
                        <% } %>
                    ">
                        <%= products[i].name %>
                    </h5>
                    <p class="card-text">
                        <%= products[i].description %>
                    </p>
                    <img src="<%=products[i].image_path %>" alt="" width="20%">
                    <p>
                        <strong>Category:</strong> <%= products[i].category %>
                    </p>
                    <p class="card-text">
                        <strong>Price:</strong> <%= products[i].price %>
                    </p>
                    <p class="card-text">
                        <strong>Stock:</strong> <%= products[i].stock %>
                    </p>
                    <a href="/product/<%= products[i].id %>" class="btn btn-primary">View</a>
                </div>
            </div>
        <% } %>
    </main>

    <%- await include('./components/footer.ejs') %>
</div>

