<%- await include('./components/head.ejs', {title: "Home"}) %>

<div class="d-flex flex-column min-vh-100">
    <%- await include('./components/header.ejs') %>

    <main class = "container-fluid flex-grow-1 mt-5 px-5 d-flex justify-content-between">

        <%- await include('./components/sidebar.ejs') %>

        <div class="main-content w-100 d-flex mb-5 gap-3 ms-5 flex-wrap
        justify-content-center" style="height: fit-content;">
            <% for( let i = 0; i < products.length; i++ ) { %>
                <%- await include('./components/card/product-card.ejs', {product: products[i]}) %>
            <% } %>
        </div>
    </main>

    <%- await include('./components/footer.ejs') %>
</div>

