<%- await include('../components/head.ejs', { title: 'Cadastrar produto'}) %>

<div class="d-flex flex-column min-vh-100">
    <%- await include('../components/header.ejs') %>

    <main class="container d-flex flex-column align-items-center w-75 mt-3 pt-4 flex-grow-1 mb-5">
        <h1 class="h1">Cadastrar produto</h1>

            <form action="/product/register" method="post" class="container w-50 fs-6 mt-4 text-black-50"
            enctype="multipart/form-data">
                <div class="mb-4">
                    <label for="name" class="form-label">Nome *</label>
                    <input type="text" class="form-control text-black-50" value="<%= data.name %>"
                    id="name" placeholder="Digite o nome do produto" name="name" required>
                </div>

                <div class="d-flex gap-3 mb-4">
                    <div>
                        <label for="price" class="form-label">Preço R$*</label>
                        <input type="text" class="form-control text-black-50" value="<%= data.price %>"
                        id="price" placeholder="50,00" name="price" required>

                        <% if (error?.price) { %>
                            <div class="alert alert-danger w-100 mt-2 p-1" role="alert">
                                <%= error.price %>
                            </div>
                        <% } %>
                    </div>

                    <div>
                        <label for="stock" class="form-label">Quantidade em estoque *</label>
                        <input type="number" class="form-control text-black-50" value="<%= data.stock %>"
                        id="stock" placeholder="5" name="stock" required>

                        <% if (error?.stock) { %>
                            <div class="alert alert-danger w-100 mt-2 p-1" role="alert">
                                <%= error.stock %>
                            </div>
                        <% } %>
                    </div>
                </div>

                <div class="d-flex gap-3 mb-4 justify-content-between">
                    <div class="w-50">
                        <label for="game" class="form-label">Jogo *</label>
                        <select class="form-select form-select-sm" aria-label="game" name="game_id">
                            <option selected>Selecione o jogo</option>
                            <% for( let i = 0; i < games.length; i++ ) { %>
                            <option value="<%= games[i].id %>"><%= games[i].name %></option>
                            <% } %>
                        </select>
                    </div>

                    <div class="w-50">
                        <label for="category" class="form-label">Categoria *</label>
                        <select class="form-select form-select-sm" aria-label="categoria" name="category_id">
                            <option selected>Selecione a categoria</option>
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                            <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="description" class="form-label">Descrição *</label>
                    <textarea class="form-control" id="description" rows="3" name="description">
                        <%= data.description %>
                    </textarea>
                </div>

                <div class="mb-5">
                    <label for="image" class="form-label">Imagem *</label>
                    <input class="form-control form-control-sm" id="image" type="file" name="image">
                </div>

                <div class="btn-group w-100">
                    <button class="btn btn-dark rounded-pill" type="submit">Cadastrar</button>
                </div>
            </form>
    </main>

    <%- await include('../components/footer.ejs') %>
</div>


