<%- await include('../components/head.ejs', { title: 'Visualizar produto' }) %>

    <div class="d-flex flex-column min-vh-100">
        <%- await include('../components/header.ejs') %>

            <main class="container d-flex flex-column align-items-center w-100 mt-5 pt-4
            flex-grow-1 mb-5">
                <div class="d-flex gap-5 w-75 bg-primary justify-content-center">
                    <div class="card mb-3" style="max-width: 650px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="<%= product.image_path %>" class="img-fluid rounded-start"
                                    alt="<%= product.name %>">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= product.name %>
                                    </h5>
                                    <p class="card-text"></p>
                                    <p class="card-text"><small class="text-body-secondary">1</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white p-4">
                        <div class="form-group d-flex justify-content-between">
                            <label class="form-label" for="product<%= product.id%>stock">Quantidade:</label>
                            <input type="text" class="form-control w-25" id="product<%= product.id%>stock">
                        </div>
                    </div>
                </div>
            </main>

            <%- await include('../components/footer.ejs') %>
    </div>
