<aside class="container-sm smaller-container d-flex flex-column border border-mute rounded-1
  mx-0 pt-3 mb-5 align-items-start bg-white" style="height: fit-content; width: 250px;">
  <h3 class="align-self-center mb-2">Filtros</h3>

  <form class="nav flex-column ps-2" action="/" method="get">
    <button type="submit" class="btn btn-sm btn-dark d-flex justify-content-center gap-2 mb-1 mt-3 align-self-start">
      <i class="bi bi-search"></i>
        Filtrar
    </button>

    <section class="nav-item mb-3">
      <header class="text-left">
        <h4>Jogos</h4>
      </header>
      <main class="text-left text-primary min-vh-25 max-vh-25">
        <% for( let i=0; i < games.length; i++ ) { %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= games[i].id %>"
              id="flexCheckChecked<%= games[i].id %>" name="game" />
            <label class="form-check-label small-font-size" for="flexCheckChecked<%= games[i].id %>">
              <%= games[i].name %>
            </label>
          </div>
          <% } %>
      </main>
    </section>
    <section class="nav-item mb-3">
      <header class="text-left">
        <h4>Categoria</h4>
      </header>
      <main class="text-left text-primary min-vh-25 max-vh-25">
        <% for( let i=0; i < categories.length; i++ ) { %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="<%= categories[i].id %>"
              id="flexCheckCheckedx<%= categories[i].id %>" name="category" />
            <label class="form-check-label small-font-size" for="flexCheckCheckedx<%= categories[i].id %>">
              <%= categories[i].name %>
            </label>
          </div>
          <% } %>
      </main>
    </section>
  </form>
</aside>
